* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-color: #05111b;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  color: #888;
}

ul span.folder {
  text-transform: capitalize;
  cursor: pointer;
  color: #ccc;
  font: 18px sans-serif;
}

ul.nested li {
  padding-left: 32px;
}

ul span.folder::before {
  display: inline-block;
  content: '\1F5C0';
  margin-right: 4px;
  font: 18px sans-serif;
}