@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
}

.zoom-indicator {
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}